@import url("Far_KoodakBold/stylesheet.css");
/* ==========================================================================
   General styles
   ========================================================================== */

body {
	font-family: "Far KoodakBold";
	background: #181818;
	color: #fff;
	font-weight: 100;
	background: url(../img/bg.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300; }

a { color: #fff; }

a:hover {
  color: #AFE2FC;
  text-decoration: none;
}

img { max-width: 100%; }

/* ==========================================================================
   Logo styles
   ========================================================================== */
   
.logo {
  background: url(../img/logo.png) center center no-repeat;
  width: 128px;
  height: 128px;
  display: inline-block;
}

.hero-section header { margin-bottom: 1.5em; }

/* ==========================================================================
   Hero Section styles
   ========================================================================== */
.tint { background: rgba(50, 58, 69, 0.96); }

.hero-section { padding: 1.5em 0 3em; }

/* ==========================================================================
   Countdown styles
   ========================================================================== */

.hero-title {
  font-size: 34.168px;
  font-weight: 100;
}

ul.countdown {
  font-weight: 100;
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding: 1.5em 0;
}

ul.countdown li { display: inline-block; }

ul.countdown li span { font-size: 43.244px; }

ul.countdown li.seperator {
  font-size: 38.439px;
  line-height: 58.454px;
  vertical-align: top;
  padding: 0 16px;
}

ul.countdown li p { font-size: 16px; }

/* ==========================================================================
   video preview styles
   ========================================================================== */

.video-intro { padding-top: 1.5em; }

.video-intro a {
  background: url(../img/play-btn.png) left center no-repeat;
  display: inline-block;
  width: 79px;
  height: 78px;
}

.video-intro a:hover { background: url(../img/play-btn.png) right center no-repeat; }

/* ==========================================================================
   Footer styles
   ========================================================================== */

.site-footer { padding: 3em 0; }

/* ==========================================================================
   Subscription form styles
   ========================================================================== */
.center-block { float: none; }

.form-control {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
}

.form-control:focus {
  border-color: #008ed6;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  padding: 12px 2em;
  font-weight: 100;
}

.btn-default {
  color: #fff;
  background-color: #008ed6;
  border-color: #008ed6;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background-color: #006ba1;
  border-color: #006ba1;
  color: #fff;
}

.btn-default:focus,
.btn-default:active { outline: none; }

.sub-form p { margin-bottom: 1.5em; }

#mc-notification {
  margin: 0.75em 0 0;
  font-size: .9em;
  text-align: center;
  font-weight: 300;
}

.alert { color: #ff4b5a; }

.success { color: #1fab5a; }

/* ==========================================================================
   Social styles
   ========================================================================== */

.social-icons {
  list-style: none;
  margin: 3em 0 0;
}

.social-icons li {
  display: inline-block;
  padding-right: .5em;
}

.social-icons li:last-child { padding-right: 0; }

.social-icons a {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  /*color: #008ed6;*/
  width: 35px;
  height: 35px;
  line-height: 33px;
  vertical-align: middle;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid greenyellow;
}

.social-icons a:hover {
  color: #006ba1;
  background: #fff;
  border-color: #fff;
}

/* ==========================================================================
   Animation
   ========================================================================== */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 @-webkit-keyframes bounceInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
 transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateY(30px);
 transform: translateY(30px);
}
 80% {
 -webkit-transform: translateY(-10px);
 transform: translateY(-10px);
}
 100% {
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}
 @keyframes bounceInDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-2000px);
 -ms-transform: translateY(-2000px);
 transform: translateY(-2000px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateY(30px);
 -ms-transform: translateY(30px);
 transform: translateY(30px);
}
 80% {
 -webkit-transform: translateY(-10px);
 -ms-transform: translateY(-10px);
 transform: translateY(-10px);
}
 100% {
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
 @-webkit-keyframes slideInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
 transform: translateX(-2000px);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
 @keyframes slideInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-2000px);
 -ms-transform: translateX(-2000px);
 transform: translateX(-2000px);
}
 100% {
 -webkit-transform: translateX(0);
 -ms-transform: translateX(0);
 transform: translateX(0);
}
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

/* ==========================================================================
   Small devices (tablets, 768px and up)
   ========================================================================== */

@media (min-width: 768px) {

.hero-section header { margin-bottom: 2em; }

.hero-section { padding: 1em 0 4.5em; }

.hero-title { font-size: 54.730px; }

ul.countdown { padding: 3em 0; }

ul.countdown li span { font-size: 87.666px; }

ul.countdown li.seperator {
  font-size: 77.925px;
  line-height: 118.504px;
  padding: 0 20.250px;
}

ul.countdown li p { font-size: 28.833px; }

.site-footer { padding: 4.5em 0; }

.btn { padding: 12px 3.5em; }
}

/* ==========================================================================
   Medium devices (desktops, 992px and up)
   ========================================================================== */

@media (min-width: 992px) {

.hero-section { padding: 1.5em 0 6em; }

.hero-section header { margin-bottom: 2em; }

.video-intro { padding-top: 3em; }
}

/* ==========================================================================
   small devices 
   ========================================================================== */
   
@media (max-width: 360px) {

ul.countdown li span { font-size: 36.492px; }

ul.countdown li.seperator {
  font-size: 30.372px;
  line-height: 51.959px;
  vertical-align: top;
  padding: 0 8px;
}

ul.countdown li p { font-size: 16px; }
}

@media (max-width: 320px) {

.hero-title { font-size: 30.372px; }

ul.countdown { padding-bottom: 0; }

ul.countdown li span { font-size: 28.833px; }

ul.countdown li.seperator {
  font-size: 25.629px;
  line-height: 38.439px;
  vertical-align: top;
  padding: 0 2px;
}

ul.countdown li p { font-size: 12.642px; }

.btn { padding: 12px; }
}

@media (max-width: 240px) {

.hero-title { font-size: 30.372px; }

ul.countdown { padding-bottom: 0; }

ul.countdown li span { font-size: 22.781px; }

ul.countdown li.seperator {
  font-size: 18.961px;
  line-height: 36.492px;
  vertical-align: top;
  padding: 0 2px;
}

ul.countdown li p { font-size: 11.836px; }
}
